{
  "openapi": "3.1.0",
  "info": {
    "title": "Sasai API",
    "version": "1.0.0",
    "description": "Core reference for authenticating and interacting with Sasai APIs."
  },
  "servers": [
    {
      "url": "https://api.sasai.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "ok"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["status", "timestamp"]
      },
      "CreateTransactionRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "example": 125.5
          },
          "currency": {
            "type": "string",
            "example": "USD"
          }
        },
        "required": ["customerId", "amount", "currency"]
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "txn_12345"
          },
          "status": {
            "type": "string",
            "example": "pending_review"
          },
          "amount": {
            "type": "number",
            "example": 125.5
          },
          "currency": {
            "type": "string",
            "example": "USD"
          }
        },
        "required": ["id", "status", "amount", "currency"]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "summary": "Check API health",
        "description": "Returns a simple health payload so you can confirm connectivity to the Sasai API.",
        "responses": {
          "200": {
            "description": "Healthy response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remitsense/transactions": {
      "post": {
        "summary": "Create transaction",
        "description": "Creates a new RemitSense transaction for downstream risk and operational workflows.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remitsense/transactions/{transactionId}": {
      "get": {
        "summary": "Get transaction",
        "description": "Fetches a single transaction by identifier.",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique transaction identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          }
        }
      }
    }
  }
}

